{% extends "templates/web.html" %} {% block page_content %}
<div class="container my-5">
	{% if error %}
	<div class="alert alert-danger text-center">{{ error }}</div>
	{% elif certificate and iframe_url %}
	<div class="text-center mb-4">
		<h2>🎓 Certificate Verification</h2>
		<p><strong>Certificate ID:</strong> {{ certificate_id }}</p>
	</div>

	<div class="certificate-frame" style="height: 90vh">
		<iframe
			src="{{ iframe_url }}"
			width="100%"
			height="100%"
			frameborder="0"
			type="application/pdf"
		></iframe>
	</div>
	{% else %}
	<div class="text-center mb-4">
		<h2>🎓 Certificate Verification</h2>
	</div>
	<div class="alert alert-warning text-center">
		❌ Certificate {{ certificate_id }} Not Found.
	</div>
	{% endif %}
</div>
{% endblock %}
